<<
@configure
  connected:true
  title:"Grades"
  scripts:[
    "screen"
  ]
  stylesheets:[
    "main"
  ]
>>

<< extend "templates/master.ect" >>

<< block "init": >>

  {% set utils = aek.extension("CMAuthUtilities") %}
  {% set attrs = utils.getTokenAttributes() %}
  {% set username = attrs.username %}

  {% if username %}

    {% set service = aek.get_service("BANNER_XE_GRADES") %}

  {% else %}

    {% set service = aek.get_anon_service("BANNER_XE_GRADES") %}

  {% endif %}

  {% if aek.action == "fetch-info" %}

    {{ service.set_parameter("username", username)}}
    {{ service.set_parameter("bannerId", attrs.extraAttrs.bannerId) }}
    {{ aek.respond(service.response) }}

  {% endif %}

  {% if aek.action == "fetch-grades" %}

    {{ service.set_parameter("term", aek.request("term")) }}
    {{ aek.respond(service.response) }}

  {% endif %}

<< end >>
