@import "imports/aek-css-config";

// additional styles below
.ui.listview.menu >.item .label {
  // font-weight: bold !important;
  background: #fff !important;
  color: #000 !important;
  width:auto !important;
}
.ui.listview.menu >.item .label:after {
  content: ": ";
}

@media (max-width: 370px) {
  .ui.icon.message > .content {
   display: table-cell;
  }
}

.ui.info.message {
  background-color: #A3D6D7
  .icon {
    color: #FF9B1A
  }
  .content {
    color: #000
  }
}

.ui.block.header {
  background-color: #AD1F65
  color: #FFF
}
